<template>
  <div>
    <h1>Edit an Event</h1>
    <form @submit.prevent="updateEvent">
      <label>Select a category</label>
      <select v-model="event.category">
        <option v-for="cat in categories" :key="cat">{{ cat }}</option>
      </select>
      <h3>Name & describe your event</h3>
      <div class="field">
        <label>Title</label>
        <input
          v-model="event.title"
          type="text"
          placeholder="Add an event title"
        />
      </div>
      <div class="field">
        <label>Description</label>
        <input
          v-model="event.description"
          type="text"
          placeholder="Add a description"
        />
      </div>
      <h3>Where is your event?</h3>
      <div class="field">
        <label>Location</label>
        <input
          v-model="event.location"
          type="text"
          placeholder="Add a location"
        />
      </div>
      <h3>When is your event?</h3>
      <div class="field">
        <label>Date</label>
        <datepicker v-model="event.date" placeholder="Select a date" />
      </div>
      <div class="field">
        <label>Select a time</label>
        <select v-model="event.time">
          <option v-for="time in times" :key="time">{{ time }}</option>
        </select>
      </div>
      <input type="submit" class="button -fill-gradient" value="Submit" />
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex"
import Datepicker from "vuejs-datepicker"
import moment from "moment"
export default {
  components: {
    Datepicker,
  },
  props: ["id"],
  data() {
    const times = []
    for (let i = 1; i <= 24; i++) {
      times.push(i + ":00")
    }
    return {
      times,
    }
  },
  methods: {
    updateEvent() {
      this.event.date = moment(this.event.date).format("MMM DD YYYY")
      this.$store
        .dispatch("updateEvent", this.event)
        .then(() => {
          this.$router.push({
            name: "event-show",
            params: { id: this.event.id },
          })
        })
        .catch((error) => {
          console.log("Error: " + error.message)
        })
    },
  },
  created() {
    this.$store.dispatch("fetchEvent", this.id)
  },
  computed: {
    ...mapState(["user", "categories", "event"]),
  },
}
</script>

<style scoped>
.field {
  margin-bottom: 24px;
}
</style>
